.article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-img{
  max-width: 70%;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}