.article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.article-alt{
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr;
  grid-template-areas: 
  "img category"
  "img title"
  "img desc";
}
.article-alt .article-title{
  grid-area: title;
  height: max-content;
  text-align: left;
  justify-self: flex-start;
  align-self: flex-start;
}
.article-alt .article-category{
  grid-area: category;
  height: max-content;
  margin-top: 0;
  justify-self: flex-start;
}
.article-alt .article-desc{
  grid-area: desc;
  height: max-content;
  text-align: left;
}
.article-alt .article-img{
  grid-area: img;
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .article-title{
  font-size: 20px;
  }
}
  
@media only screen and (min-width: 1367px) and (max-width: 1800px) {
  .article-title{
  font-size: 24px;
  }
}
  
@media only screen and (min-width: 1801px){
  .article-title{
  font-size:30px;
  }
}
/* work on this, this and the next media query should resize the desc box 
  after fix section four positioning of elements
*/
@media only screen and (max-width: 1206px) {
  .article-title {
    height: 50px;
  }
  .article-desc{
    font-size: 13px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (min-width: 1207px){
  .article-desc{
    font-size: 15px;
  }
}
.article-title{
  height: 180px;
  text-align: center;
  padding: 10px;
}
.article-desc{
  height: 70px;
  text-align: center;
  padding: 10px;
}
.article-img {
  height: 400px; 
  width: 95%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.article-category{
  background-color: white;
  margin-top: -20px;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f72210;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}