.content{
  background-color: white;
}
/*
  set media query so if a mobile/tablet user is viewing the content is all aligned vertically
  in one column.
*/
@media only screen and (max-width: 1210px) {
  .section-one{
    display: flex;
    justify-content: center;
  }
  .section-two{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section-three{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .section-four{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section-five{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .content{
    margin: 0% 5% 3.5% 5%;
  }
}
@media only screen and (min-width: 1211px){
  .section-one{
    display: flex;
    justify-content: center;
  }
  .section-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .section-four{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section-five{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .content{
    margin: 0% 13% 3.5% 13%;
  }
}
.section-six{
  display: flex;
}
.section-six ul{
  display: flex;
  list-style: none;
}

