.nav {
  position: sticky;
  top: 0;
  height: 4vh;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.nav-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

.nav-logo {
  max-width: 150px;
  height: 100%;
}

/* the buttons only on desktop devices */
@media only screen and (max-width: 1200px) {
  .nav-left-buttons {
    display: none;
  }
}

@media only screen and (min-width: 1201px) {
  .nav-left-buttons {
    display: flex;
  }
}

.nav-left-buttons {
  list-style: none;
  gap: 15px;
}

.nav-left-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left-buttons :nth-child(8) {
  font-weight: 900;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}
/* hides the login button on smaller mobile devices */
@media only screen and (max-width: 444px) {
  .nav-login {
    display: none;
  }
}

@media only screen and (min-width: 445px) {
  .nav-login {
    display: flex;
  }
}

.nav-login {
  font-weight: 700;
  font-size: 14px;
  height: 100%;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  border-right: 1.5px solid #c4c4c4;
}

@media only screen and (max-width: 440px) and (min-height: 601px){
  .nav-subscribe,
  .nav-title {
    font-size: 12px;
  }
}

@media only screen and (min-width: 441px) and (min-height: 601px){
  .nav-subscribe,
  .nav-title {
    font-size: 14px;
  }
  .nav-search-icon{
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-height: 600px){
  .nav-subscribe,
  .nav-title{
    font-size: 8px;
  }
  .nav-search-icon{
    height: 30px;
    width: 30px;
  }
}

.nav-subscribe {
  background-color: #ffe400;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

.nav-search-icon {
  padding-right: 20px;
}
