.nav{
  display: flex;
  height: 4vh;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  background-color: white;
  top: 0;
  position: sticky;
  font-family: 'Roboto', sans-serif;
}
.nav-left{
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}
.nav-logo{
  max-width: 150px;
}
.nav-expand-dots{
  color: red;
}
/* Hides the topics in the nav bar  */
@media only screen and (max-width: 1200px) {
  .nav-left-buttons {
    display: none;
  }
}
@media only screen and (min-width: 1201px){
  .nav-left-buttons{
    display: flex;
  }
}
.nav-left-buttons{
  list-style: none;
  gap: 15px;
}
.nav-left-buttons li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left-buttons :nth-child(8){
  font-weight: 900;
}
.nav-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}
@media only screen and (max-width: 390px) {
  .nav-login{
    display: none;
  }
}
@media only screen and (min-width: 391px) {
  .nav-login{
    display: flex;
  }
}
@media only screen and (max-width: 440px) {
  .nav-subscribe{
    font-size: 12px;
  }
}
@media only screen and (min-width: 441px) {
  .nav-subscribe{
    font-size: 14px;
  }
}
.nav-subscribe{
  background-color: #ffe400;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
.nav-login{
  font-weight:700;
  font-size: 14px;
  border-right: 1.5px solid #c4c4c4;
  height: 100%;
  margin-bottom: 5px;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}
.nav-search-icon{
  padding-right: 20px;
}